<% param_prefix = "payment_source[#{payment_method.id}]" %>
<% options_hash = Rails.env.production? ? {:autocomplete => 'off'} : {} %>

<p id="bank_country_container_<%= payment_method.id %>" class="field" data-hook="bank_country">
  <%
    bank_country_options = [ 'DE', 'AT', 'NL' ]
  %>
  <%= label_tag nil, t(:bank_country) %><br />
  <%= select_tag "#{param_prefix}[bank_country]", options_for_select(bank_country_options), options_hash.merge(:id => 'bank_country_' + payment_method.id.to_s, :class => 'required') %>
  <span class="req">*</span>
</p>

<p id="bank_account_container_<%= payment_method.id %>" class="field" data-hook="bank_account">
  <%= label_tag nil, t(:bank_account) %><br />
  <%= text_field_tag "#{param_prefix}[bank_account]", '', options_hash.merge(:id => 'bank_account_' + payment_method.id.to_s, :class => 'required') %>
  <span class="req">*</span>
</p>

<p id="bank_code_container_<%= payment_method.id %>" class="field" data-hook="bank_code">
  <%= label_tag nil, t(:bank_code) %><br />
  <%= text_field_tag "#{param_prefix}[bank_code]", '', options_hash.merge(:id => 'bank_code_' + payment_method.id.to_s, :class => 'required') %>
  <span class="req">*</span>
</p>

<p id="bank_account_holder_container_<%= payment_method.id %>" class="field" data-hook="bank_account_holder">
  <%= label_tag nil, t(:bank_account_holder) %><br />
  <%= text_field_tag "#{param_prefix}[bank_account_holder]", @order.billing_firstname + ' ' + @order.billing_lastname, options_hash.merge(:id => 'bank_account_holder_' + payment_method.id.to_s, :class => 'required') %>
  <span class="req">*</span>
</p>

<%= hidden_field param_prefix, 'first_name', :value => @order.billing_firstname %>
<%= hidden_field param_prefix, 'last_name', :value => @order.billing_lastname %>

<script type="text/javascript">
  function DebitPayment(unique_id) {
    this.unique_id = unique_id;
    this.tempBankCodeValue = undefined;
    
    this.storeBankCodeValue = function() {
      this.tempBankCodeValue = this.getBankCode().val();
      this.getBankCode().val('');
    };
    
    this.restoreBankCodeValue = function() {
      if(this.tempBankCodeValue != undefined) {
        this.getBankCode().val(this.tempBankCodeValue);
      }
    };
    
    this.getBankCountry = function() {
      return $('#bank_country_' + this.unique_id);
    };
    
    this.getBankAccount = function() {
      return $('#bank_account_' + this.unique_id);
    };
    
    this.getBankCode = function() {
      return $('#bank_code_' + this.unique_id);
    };
    
    this.getBankAccountHolder = function() {
      return $('#bank_account_holder_' + this.unique_id);
    };
    
    this.getBankCodeContainer = function() {
      return $('#bank_code_container_' + this.unique_id);
    };
    
    this.onBankCountryChanged = function() {
      var country = this.getBankCountry().val();
      
      if(country == 'DE' || country == 'AT') {
        this.restoreBankCodeValue();
        this.getBankCodeContainer().show();
      }
      else {
        this.storeBankCodeValue();
        this.getBankCodeContainer().hide();
      }
    };
    
    this.register = function() {
      this.onBankCountryChanged();
      this.getBankCountry().change( { debit_payment: this }, function(event) {
        event.data.debit_payment.onBankCountryChanged();
      });
    };
  }
  
  $(document).ready(function() {
    var debit_payment = new DebitPayment('<%= payment_method.id %>');
    debit_payment.register();
  });
</script>
